.navBtn {
  border-bottom: 2px solid transparent !important;
}

.navBtn:hover {
  border-bottom: 2px solid black !important;
}

.serviceImg {
  width: 110px !important;
  height: 110px !important;
}

.alice-carousel__prev-btn {
  display: none;
  font-size: 0;
}

.alice-carousel__next-btn {
  display: none;
  font-size: 0;
}

.thumbnailWrapper {
  display: flex !important;
  justify-content: center !important;
}

.thumbnail {
  width: 300px !important;
  height: 185px;
  cursor: grab;
}

.member {
  height: 12 50px;
  width: 150px;
  cursor: grab;
  color: #282c34fb;
}

.loginBtn:hover {
  background-color: #252930 !important;
  color: white !important;
}

.kdCslO {
  display: none !important;
}

.hoverWhite:hover {
  color: white !important;
}





/* Responsive CSS */
@media only screen and (max-width: 600px) {
  .heroImg {
    width: 40vh !important;
    height: 100% !important;
  }

  .thumbnail {
    width: 100% !important;
  }

  .alice-carousel__stage-item {
    display: inline-flex !important;
    justify-content: center !important;
  }
}

@media only screen and (min-width: 1500px) {
  .reviewWrapper {
    padding: 0 240px !important;
  }
}