@import url('https://fonts.googleapis.com/css2?family=Macondo&display=swap');

html {
  scroll-behavior: smooth !important;
  transition: 1s all ease !important;
}

body {
  margin: 0;
  font-family: 'Macondo', cursive !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  user-select: none !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

::-webkit-scrollbar {
  width: 0px;
}

::-webkit-scrollbar-track {
  background: transparent !important; 
}

::-webkit-scrollbar-thumb {
  background: transparent !important; 
}